[
  {time_tracker, [
    {database, [
      {host, "localhost"},
      {port, 5432},
      {username, "postgres"},
      {password, "postgres"},
      {database, "time_tracker"}
    ]},
    {rabbitmq, [
      {host, "localhost"},
      {port, 5672},
      {username, "guest"},
      {password, "guest"},
      {vhost, "/"},
      {connection_timeout, 60000}
    ]}
  ]}
].